@using MeroTender.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Dashboard";
    var user = await UserManager.GetUserAsync(User);
    var fullname = user?.FirstName + ' ' + user?.LastName;
}

<div class="bg-body-tertiary p-5 rounded">
    <h1>Dashboard</h1>
    <p class="lead">Welcome @fullname to MeroTender dashboard!</p>
</div>