﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-body-tertiary p-5 rounded">
    <h1 class="display-2">MeroTender</h1>
    <p class="lead">A web-based <span class="fw-bold">E-Tendering and Procurement System</span> built with ASP.NET Core
        MVC for
        managing and tracking
        governmental tenders.</p>
</div>